common/tmp/*
gui/build-temp/*
tmp/*
bin/*
*.user
*.pdb
*.ilk
*.o
*.exe
*.Debug
*.Release
*~
Makefile*
test/testdata/output/shapes/*.svg
test/testdata/output/shapes/*.lint
test/testdata/output/shapes/*.lintlog
test/testdata/output/misc/*.svg
test/testdata/output/misc/*.lint
test/testdata/output/misc/*.lintlog
test/testdata/output/gradients/*.svg
test/testdata/output/gradients/*.lint
test/testdata/output/gradients/*.lintlog
test/testdata/output/filters/*.svg
test/testdata/output/filters/*.lint
test/testdata/output/filters/*.lintlog
test/testdata/output/complex/*.svg
test/testdata/output/complex/*.lint
test/testdata/output/complex/*.lintlog
